body{
    background-color: black
}

.Poster{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}


h1{
    color: white;   
    font-size: 40px;
    text-transform: uppercase;
    
}

.polina{
    width: 70%;
    border: 5px solid white;
}